<h1>Voici notre équipe</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Audélia</h5>
        <p class="card-text">Dev learner du Sud-Est</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Orane</h5>
        <p class="card-text">Dev learner du Sud-Est</p>
      </div>
    </div>
  </div>
</div>