<% if @problem %>
  <div class="alert alert-danger" role="alert">
    <p>Connexion impossible pour la (ou les) raison(s) suivante(s) :<p>
    <ul>
    <% @logged_in.errors.full_messages.each do |message| %>
      <li><%= message %></li>

    <% end %>
  </ul>
  </div>
  
<% end %>

<br>
<br>
<div class="mainContent">
  <h1 class="text-center">Connecte-toi à The Gossip Project</h1>
  <h5 class="text-center">Renseigne les différents champs ci-dessous pour accéder à The Gossip Project</h5>
    <p class="text-center">Pas encore inscrit? Crée ton compte <%= link_to "ici", new_user_path %></p>
<h1 class="text-center">Se connecter</h1>
<br>
<div class="container text-left">
  <form action="<%= sessions_path %>" method="POST">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
<br>
  <div class="form-group">
    <label for="email">Adresse Email</label>
      <input type="text" class="form-control" name='email' placeholder="Insère ton email ici">
    <br>
    <label for="password">Mot de passe</label>
      <input type="password" class="form-control" name='password'placeholder="Renseigne ton mot de passe ici"></inputtype>
  </div>
  <button type="submit" class="btn btn-dark">Login</button>
</form>
</div>